{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Liste des fichiers
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Liste des fichiers</h1>
		<div class="row justify-content-center">
			<div class="col-12 col-md-8 p-4 m-0 text-primary">
				<div class="table-responsive text-center">
					<table class="table table-hover">
						<thead>
							<tr class="fw-bold text-primary">
								<th scope="col" class="text-light">Nom</th>
								<th scope="col" class="text-light">Serveur</th>
								<th scope="col" class="text-light">Date d'envoi</th>
								<th scope="col" class="text-light">Extension</th>
								<th scope="col" class="text-light">Taille</th>
								<th scope="col" class="text-light">Utilisateur</th>
							</tr>
						</thead>
						<tbody>
							{% for fichier in fichier |sort((a,b)=>b.nomOriginal<=>a.nomOriginal) %}
								<tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
									<td>{{ fichier.nomOriginal | capitalize }}</td>
									<td>{{fichier.nomServeur | capitalize }}</td>
									<td>{{fichier.dateEnvoi | date("d-m-Y")}}</td>
									<td>{{fichier.extension | capitalize }}</td>
									<td>{{fichier.taille | lower}}</td>
									<td>{{fichier.user.nom}}
										{{fichier.user.prenom}}</td>


								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
{% endblock %}


