{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Profil
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Profil</h1>


		<div class="row justify-content-center">
			<div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr class="fw-bold text-primary">
								<th scope="col" class="text-light">Email</th>
								<th scope="col" class="text-light">Nom</th>
								<th scope="col" class="text-light">Prénom</th>
                                <th scope="col" class="text-light">Date d'inscription</th>
                                <th scope="col" class="text-light">Rôle</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users |sort((a, b) => b.dateEnvoi <=> a.dateEnvoi)%}
								<tr class="{{ cycle(['table-primary','table-secondary'], loop.index0) }}">
									<td>{{ user.email | lower }}</td>
                                    <td>{{ user.nom | lower }}</td>
                                    <td>{{ user.prenom | lower }}</td>
									<td>{{ user.dateAjout | date("d-m-Y à H:i:s") }}</td>
									{% if 'ROLE_ADMIN' in user.roles %}
									<td>Administrateur</td>
									{% elseif 'ROLE_MOD' in user.roles %}
									<td>Modérateur</td>
									{% else %}
									<td>Utilisateur</td>
									{% endif %}
								</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}